## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_test.csv')
print('Path of read in data: %s' % (f_app))
app_test = pd.read_csv(f_app)

Path of read in data: ./data/application_test.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
app_test.shape

(48744, 121)

#### 列出所有欄位

In [5]:
app_test.loc[121]

SK_ID_CURR                                           100982
NAME_CONTRACT_TYPE                               Cash loans
CODE_GENDER                                               F
FLAG_OWN_CAR                                              N
FLAG_OWN_REALTY                                           Y
CNT_CHILDREN                                              2
AMT_INCOME_TOTAL                                     112500
AMT_CREDIT                                           481176
AMT_ANNUITY                                           23148
AMT_GOODS_PRICE                                      360000
NAME_TYPE_SUITE                                      Family
NAME_INCOME_TYPE                                    Working
NAME_EDUCATION_TYPE           Secondary / secondary special
NAME_FAMILY_STATUS                           Civil marriage
NAME_HOUSING_TYPE                         House / apartment
REGION_POPULATION_RELATIVE                         0.031329
DAYS_BIRTH                                            -8699
DAYS_EMPLOYED                                         -1334
DAYS_REGISTRATION                                     -2315
DAYS_ID_PUBLISH                                       -1373
OWN_CAR_AGE                                             NaN
FLAG_MOBIL                                                1
FLAG_EMP_PHONE                                            1
FLAG_WORK_PHONE                                           0
FLAG_CONT_MOBILE                                          1
FLAG_PHONE                                                0
FLAG_EMAIL                                                0
OCCUPATION_TYPE                                 Sales staff
CNT_FAM_MEMBERS                                           4
REGION_RATING_CLIENT                                      2
                                          ...
DEF_30_CNT_SOCIAL_CIRCLE                                  1
OBS_60_CNT_SOCIAL_CIRCLE                                  1
DEF_60_CNT_SOCIAL_CIRCLE                                  1
DAYS_LAST_PHONE_CHANGE                                 -883
FLAG_DOCUMENT_2                                           0
FLAG_DOCUMENT_3                                           1
FLAG_DOCUMENT_4                                           0
FLAG_DOCUMENT_5                                           0
FLAG_DOCUMENT_6                                           0
FLAG_DOCUMENT_7                                           0
FLAG_DOCUMENT_8                                           0
FLAG_DOCUMENT_9                                           0
FLAG_DOCUMENT_10                                          0
FLAG_DOCUMENT_11                                          0
FLAG_DOCUMENT_12                                          0
FLAG_DOCUMENT_13                                          0
FLAG_DOCUMENT_14                                          0
FLAG_DOCUMENT_15                                          0
FLAG_DOCUMENT_16                                          0
FLAG_DOCUMENT_17                                          0
FLAG_DOCUMENT_18                                          0
FLAG_DOCUMENT_19                                          0
FLAG_DOCUMENT_20                                          0
FLAG_DOCUMENT_21                                          0
AMT_REQ_CREDIT_BUREAU_HOUR                                0
AMT_REQ_CREDIT_BUREAU_DAY                                 0
AMT_REQ_CREDIT_BUREAU_WEEK                                0
AMT_REQ_CREDIT_BUREAU_MON                                 0
AMT_REQ_CREDIT_BUREAU_QRT                                 1
AMT_REQ_CREDIT_BUREAU_YEAR                                0
Name: 121, Length: 121, dtype: object

#### 截取部分資料

In [6]:
app_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [7]:
app_test.loc[:,['SK_ID_CURR']]

       SK_ID_CURR
0          100001
1          100005
2          100013
3          100028
4          100038
5          100042
6          100057
7          100065
8          100066
9          100067
10         100074
11         100090
12         100091
13         100092
14         100106
15         100107
16         100109
17         100117
18         100128
19         100141
20         100150
21         100168
22         100169
23         100170
24         100171
25         100172
26         100184
27         100187
28         100212
29         100222
...           ...
48714      455963
48715      455965
48716      456007
48717      456008
48718      456009
48719      456010
48720      456011
48721      456013
48722      456028
48723      456058
48724      456111
48725      456114
48726      456115
48727      456116
48728      456119
48729      456120
48730      456122
48731      456123
48732      456166
48733      456167
48734      456168
48735      456169
48736      456170
48737      456189
48738      456202
48739      456221
48740      456222
48741      456223
48742      456224
48743      456250

[48744 rows x 1 columns]

In [8]:
app_test2 = app_test.T
app_test2

,0,1,2,3,4,5,6,7,8,9,...,48734,48735,48736,48737,48738,48739,48740,48741,48742,48743
SK_ID_CURR,100001,100005,100013,100028,100038,100042,100057,100065,100066,100067,...,456168,456169,456170,456189,456202,456221,456222,456223,456224,456250
NAME_CONTRACT_TYPE,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,...,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans
CODE_GENDER,F,M,M,F,M,F,M,M,F,F,...,F,F,F,F,F,F,F,F,M,F
FLAG_OWN_CAR,N,N,Y,N,Y,Y,Y,N,N,Y,...,N,N,Y,N,Y,N,N,Y,N,Y
FLAG_OWN_REALTY,Y,Y,Y,Y,N,Y,Y,Y,Y,Y,...,Y,N,Y,Y,N,Y,N,Y,N,N
CNT_CHILDREN,0,0,0,2,1,0,2,0,0,1,...,0,0,0,0,3,0,2,1,0,0
AMT_INCOME_TOTAL,135000,99000,202500,315000,180000,270000,180000,166500,315000,162000,...,135000,85500,157500,270000,135000,121500,157500,202500,225000,135000
AMT_CREDIT,568800,222768,663264,1.575e+06,625500,959688,499221,180000,364896,45000,...,835686,109008,500490,360000,252022,412560,622413,315000,450000,312768
AMT_ANNUITY,20560.5,17370,69777,49018.5,32067,34600.5,22117.5,14220,28957.5,5337,...,46660.5,7411.5,48888,28570.5,23112,17473.5,31909.5,33205.5,25128,24709.5
AMT_GOODS_PRICE,450000,180000,630000,1.575e+06,625500,810000,373500,180000,315000,45000,...,765000,90000,450000,360000,217562,270000,495000,315000,450000,270000
NAME_TYPE_SUITE,Unaccompanied,Unaccompanied,NaN,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Family,...,Unaccompanied,Unaccompanied,Children,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Family,Unaccompanied
NAME_INCOME_TYPE,Working,Working,Working,Working,Working,State servant,Working,Working,State servant,Working,...,Working,Pensioner,Pensioner,Commercial associate,Working,Working,Commercial associate,Commercial associate,Commercial associate,Working
NAME_EDUCATION_TYPE,Higher education,Secondary / secondary special,Higher education,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special,Higher education,Higher education,Higher education,Higher education,...,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special,Higher education,Secondary / secondary special
NAME_FAMILY_STATUS,Married,Married,Married,Married,Married,Married,Married,Single / not married,Married,Civil marriage,...,Married,Married,Single / not married,Separated,Civil marriage,Widow,Married,Married,Married,Married
NAME_HOUSING_TYPE,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,With parents,House / apartment,House / apartment,...,House / apartment,House / apartment,House / apartment,Rented apartment,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment
REGION_POPULATION_RELATIVE,0.01885,0.035792,0.019101,0.026392,0.010032,0.025164,0.0228,0.005144,0.04622,0.018634,...,0.025164,0.02461,0.006671,0.026392,0.009175,0.002042,0.035792,0.026392,0.01885,0.006629
DAYS_BIRTH,-19241,-18064,-20038,-13976,-13040,-18604,-16685,-9516,-12744,-10395,...,-11387,-22995,-21780,-19397,-11708,-19970,-11186,-15922,-13968,-13962
DAYS_EMPLOYED,-2329,-4469,-4458,-1866,-2191,-12009,-2580,-1387,-1013,-2625,...,-846,365243,365243,-119,-369,-5169,-1149,-3037,-2731,-633
DAYS_REGISTRATION,-5170,-9118,-2175,-2000,-4000,-6116,-10125,-5063,-1686,-8124,...,-9379,-12088,-10745,-4386,-174,-9094,-3015,-2681,-1461,-1072
DAYS_ID_PUBLISH,-812,-1623,-3503,-4208,-4262,-2027,-241,-2055,-3171,-3041,...,-2530,-3988,-5249,-2945,-4178,-3399,-3003,-1504,-1364,-4220
OWN_CAR_AGE,NaN,NaN,5,NaN,16,10,3,NaN,NaN,5,...,NaN,NaN,12,NaN,65,NaN,NaN,4,NaN,22
FLAG_MOBIL,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
FLAG_EMP_PHONE,1,1,1,1,1,1,1,1,1,1,...,1,0,0,1,1,1,1,1,1,1
FLAG_WORK_PHONE,0,0,0,0,1,0,0,1,0,1,...,0,0,0,0,0,1,0,0,1,1
FLAG_CONT_MOBILE,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
FLAG_PHONE,0,0,0,1,0,1,0,1,0,1,...,0,0,1,0,1,1,0,1,1,0
FLAG_EMAIL,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
OCCUPATION_TYPE,NaN,Low-skill Laborers,Drivers,Sales staff,NaN,Drivers,High skill tech staff,Core staff,Core staff,Sales staff,...,Laborers,NaN,NaN,Security staff,NaN,NaN,Sales staff,NaN,Managers,Core staff
CNT_FAM_MEMBERS,2,2,2,4,3,2,4,1,2,3,...,2,2,1,1,5,1,4,3,2,2
REGION_RATING_CLIENT,2,2,2,2,2,2,2,2,1,2,...,2,2,2,2,2,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DEF_30_CNT_SOCIAL_CIRCLE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
OBS_60_CNT_SOCIAL_CIRCLE,0,0,0,0,0,0,1,0,0,4,...,3,2,0,3,0,1,2,0,0,0
DEF_60_CNT_SOCIAL_CIRCLE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DAYS_LAST_PHONE_CHANGE,-1740,0,-856,-1805,-821,-1705,-1182,-1182,-829,-1423,...,-655,-1707,-611,-1252,-987,-684,0,-838,-2308,-327
FLAG_DOCUMENT_2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_3,1,1,0,1,1,0,1,0,1,1,...,1,1,0,1,1,0,1,1,1,1
FLAG_DOCUMENT_4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
FLAG_DOCUMENT_6,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
FLAG_DOCUMENT_7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_8,0,0,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AMT_REQ_CREDIT_BUREAU_HOUR,0,0,0,0,NaN,0,0,0,0,0,...,0,NaN,0,0,0,0,NaN,0,0,0
AMT_REQ_CREDIT_BUREAU_DAY,0,0,0,0,NaN,0,0,0,0,0,...,0,NaN,0,0,0,0,NaN,0,0,0
AMT_REQ_CREDIT_BUREAU_WEEK,0,0,0,0,NaN,0,0,0,0,0,...,0,NaN,0,0,0,0,NaN,0,0,0
AMT_REQ_CREDIT_BUREAU_MON,0,0,0,0,NaN,0,0,0,0,0,...,0,NaN,0,0,0,0,NaN,0,0,0
AMT_REQ_CREDIT_BUREAU_QRT,0,0,1,0,NaN,1,0,0,0,0,...,0,NaN,0,0,2,0,NaN,3,0,1
AMT_REQ_CREDIT_BUREAU_YEAR,0,3,4,3,NaN,2,1,2,5,2,...,3,NaN,2,3,2,1,NaN,1,2,4